.benefits {
    margin-top: 4em;

    @include phablet {
        margin-top: 3em;
    }

    ul {
        display: flex;

        @include phablet {

            flex-direction: column;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: em(20);
            font-weight: bold;
            line-height: 1.4;
            padding: 0 .5em;


            @include phablet {
                margin-bottom: 2rem;
            }

            .icon {
                display: inline-block;
                height: $rem60;
                margin-bottom: 1.5em;
                color: #bf0000;

                img,
                svg {
                    height: 100%;
                }
            }
        }
    }
}