.benefits {
    margin-bottom: 40px;

    dl {

        dt {
            margin-bottom: 22px;
        }

        dd {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.25;
            margin: 0 auto;
            max-width: 210px;
        }

    }

}
