input {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1.2px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #dedede;
    outline: 0;
    min-width: 270px;
    padding-bottom: 5px;
}
