@import '../../../node_modules/nouislider/distribute/nouislider';

.noUi-target {
    box-shadow: none;
    border: none;
    margin-top: em(18);
    background: none;
}

.noUi-horizontal .noUi-handle {
    top: -(em(9));
    left: 0px;
    width: em(14);
    height: em(14);
    border-radius: 50%;
    border: em(3) solid #fff;
    outline: 0;
    cursor: pointer;
    transform: translateX(-50%);
    background-color: #23a7f1;
    box-shadow: none !important;

    &:before,
    &:after {
        display: none;
    }
}

.noUi-base {
    background-color: transparent;
}

.noUi-base:before {
    display: block;
    content: '';
    background-color: #fff;
    height:em(3);
}

.noUi-origin {
    background-color: #d7d7d7;
    height: em(3);
    border-radius: 0;
}

.noUi-tooltip {
    width: 140px;
    margin-left: -8px;
    background-color: transparent;
    text-align: left;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    color: #bc0000;
    transition: opacity 0.3s ease;
    transform: none !important;

    &.centred {
    }
}
